<div class="header text-center p-5">
  <h2 class="p-2">Fall in love with your stack</h2>
  <h5 class="p-2">Your perfect app match is waiting for you – let’s make it happen!</h5>
</div>

<div class="container">

  <div class="border-bottom">
    <div class="my-5">
      <h5 class="mb-3">Top 3 apps of the month</h5>
      <div class="row g-5">
        <% best_softwares = @softwares.where("average_rating != 0").order(average_rating: :desc).first(3) %>
        <% best_softwares.each do |software| %>
          <div class="col-md-4 p-0">
            <%= link_to software_path(software), class: "text-decoration-none text-dark" do %>
              <div class="app-card mb-3" style="max-width: 540px; height: 260px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <% if software.logo.attached? %>
                      <%= cl_image_tag software.logo.key, class: "img-fluid rounded-start p-3" %>
                    <% else %>
                      <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-start p-3" %>
                    <% end %>
                    <div class="tag-small px-3">
                      <% if software.tag.present? %>
                        <% software.tag.each do |tag| %>
                          <% unless tag.empty? %>
                            <div class="tag mb-2">
                              <p class="px-3 py-1 m-0"> <%= truncate(tag, length: 17, omission: '...') %> </p>
                            </div>
                          <% end %>
                        <% end %>
                      <% else %>
                        <p class="px-3 py-1 m-0 fs-6">No tags</p>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body m-3">
                      <div class="d-flex">
                        <h5 class="card-title">
                          <%= software.name %> -
                          <% if software.average_rating.present? %>
                            <span class="card-text fw-light">
                              <%= software.average_rating %>
                              <i class="fa-solid fa-star text-warning"></i>
                            </span>
                          <% else %>
                            <span class="card-text fw-light">No ratings</span>
                          <% end %>
                        </h5>
                      </div>
                      <p class="card-text"><%= truncate(software.description, length: 60, omission: '...') %></p>
                      <div>
                        <% if software.category.present? %>
                          <div class="tag bg-info me-2 mb-2 cat-tag">
                            <p class="px-3 py-1 m-0"> <%= software.category %> </p>
                          </div>
                        <% else %>
                          <p>No category</p>
                        <% end %>
                      </div>
                      <p class="card-text"><strong>Price:</strong> <%= software.price_month.presence || "Free" %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="my-5">
    <h5 class="mb-3">Our app catalog</h5>
    <div class="row g-5">
      <% @softwares.each do |software| %>
        <div class="col-md-4 p-0">
          <%= link_to software_path(software), class: "text-decoration-none text-dark" do %>
            <div class="app-card mb-3" style="max-width: 540px; height: 260px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <% if software.logo.attached? %>
                    <%= cl_image_tag software.logo.key, class: "img-fluid rounded-start p-3" %>
                  <% else %>
                    <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-start p-3" %>
                  <% end %>
                  <div class="tag-small px-3">
                    <% if software.tag.present? %>
                      <% software.tag.each do |tag| %>
                        <% unless tag.empty? %>
                          <div class="tag mb-2">
                            <p class="px-3 py-1 m-0"> <%= truncate(tag, length: 17, omission: '...') %> </p>
                          </div>
                        <% end %>
                      <% end %>
                    <% else %>
                      <p class="px-3 py-1 m-0 fs-6">No tags</p>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body m-3">
                    <div class="d-flex">
                      <h5 class="card-title">
                        <%= software.name %> -
                        <% if software.average_rating.present? %>
                          <span class="card-text fw-light">
                            <%= software.average_rating %>
                            <i class="fa-solid fa-star text-warning"></i>
                          </span>
                        <% else %>
                          <span class="card-text fw-light">No ratings</span>
                        <% end %>
                      </h5>
                    </div>
                    <p class="card-text"><%= truncate(software.description, length: 60, omission: '...') %></p>
                    <div>
                      <% if software.category.present? %>
                        <div class="tag bg-info me-2 mb-2 cat-tag">
                          <p class="px-3 py-1 m-0"> <%= software.category %> </p>
                        </div>
                      <% else %>
                        <p>No category</p>
                      <% end %>
                    </div>
                    <p class="card-text"><strong>Price:</strong> <%= software.price_month.presence || "Free" %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
