<div class="container">
  <div class="row mt-5">
    <div class="col-4 shadow rounded p-2">
      <div class="m-2 p-2">
        <i class="fa-regular fa-id-badge fs-3 mb-4"></i>
        <span> <b><%= @user.first_name.capitalize %> </b> <%= @user.last_name.capitalize %></span>
      </div>
      <div class="m-2 p-2">
        <i class="fa-solid fa-building fs-3"></i>
        <span> <%= @user.job_title %> at <%= @user.company %> </span>
      </div>
    </div>

    <div class=" col-6 p-2 ms-5">
      <h5> Informations sur <%= @user.username.capitalize %> </h5>
      <button class="my-2"> TODO - Modifier le profile </button>
      <div class="my-3">
        <p> stack licenses: <%= @user.licenses.count %> </p>
        <p> app owner: <%= @user.softwares.count %> </p>
      </div>
    </div>

    </div>
  </div>
</div>
