<div class="container">
  <div class="row mt-5">
    <div class="col-4 shadow rounded p-4">
        <p><b>First name: </b><%= @user.first_name.capitalize %></p>
        <p><b>Last name: </b> <%= @user.last_name.upcase %></p>
        <p><b>Username: </b><%= @user.username %></p>
        <p><i class="fa-solid fa-at fs-5 me-2"></i>: <%= @user.email %></p>
        <p><i class="fa-solid fa-briefcase fs-5 me-2"></i>: <%= @user.job_title.present? ? @user.job_title : "N/A" %></p>
        <p><i class="fa-solid fa-building fs-3 me-2"></i>: <%= @user.company.present? ? @user.company : "N/A" %></p>
    </div>

    <div class=" col-6 p-2 ms-5">
      <div class="d-flex justify-content-between">
        <h5> Informations sur <%= @user.username.capitalize %> </h5>
        <%= link_to "Edit infos", edit_user_registration_path, class: "btn btn-success" %>
      </div>

      <div class="my-3">
        <p><b>Owned licenses: </b><%= @user.licenses.count %> </p>
        <p><b> Published softwares: </b><%= @user.softwares.count %> </p>
      </div>
    </div>

    </div>
  </div>
</div>
