<div class="container">
  <div class="d-flex">
    <div class="shadow ">
      <p> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
      <p> <%= @user.job_title %> at <%= @user.company %> </p>
    </div>
    
    <div class="m3 border border-bottom">
      <h5> Informations sur <%= @user.username.capitalize %> </h5>
      <button> TODO - Modifier le profile </button>
    </div>

    </div>
  </div>
</div>
