<div class="col-4">
  <%= link_to software_path(license.software), class: "text-decoration-none text-dark" do %>
    <div class="app-card mb-3" style="max-width: 540px; height: 260px;">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="d-flex flex-column">
            <% if license.software.logo.attached? %>
              <%= cl_image_tag license.software.logo.key, class: "img-fluid rounded-start p-3 mb-auto" %>
            <% else %>
              <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-start p-3 mb-auto" %>
            <% end %>
            <button class="ms-3 btn btn-secondary">
              <%= link_to "Leave review", new_license_review_path(license, @review), class: "text-decoration-none text-white" %>
            </button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body m-3">
            <h5 class="card-title"> <%= license.software.name %> </h5>
            <p class="card-text"><%= truncate(software.description, length: 60, omission: '...') %></p>
            <% if software.reviews.presence %>
              <p class="card-text">
                <%= software.average_rating %>
                <i class="fa-solid fa-star text-warning"></i>
              </p>
            <% else %>
              <p class="card-text"><strong>No ratings</strong></p>
            <% end %>
            <p class="card-text"><strong>Price:</strong> <%= license.software.price_month %> </p>
            <p class="card-text"><strong>Tag:</strong> <%= license.software.tag %> </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
