<div class="header text-center p-5">
  <h2 class="p-2">Fall in love with your stack</h2>
  <h5 class="p-2">Your perfect app match is waiting for you – let’s make it happen!</h5>
</div>

<div class="container">
  <div class="row justify-content-center bg-white p-3">
    <div class="col-5 m-3">
      <%= simple_form_for "/" do |f| %>
        <%= f.input :software, placeholder: 'Find your crush', input_html: { class: 'form-control p-1 rounded text-center' } %>
      <% end %>
    </div>
  </div>

  <div class="mb-5">
    <h5 class="mb-3">Best apps of the month</h5>
    <div class="row g-5">
      <% @softwares.first(3).each do |software| %>
        <div class="col-md-4">
          <%= link_to software_path(software), class: "text-decoration-none text-dark" do %>
            <div class="app-card mb-3" style="max-width: 540px; height: 230px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <% if software.logo.attached? %>
                    <%= cl_image_tag software.logo.key, class: "img-fluid rounded-start p-3" %>
                  <% else %>
                    <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-start p-3" %>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <div class="card-body m-3">
                    <h5 class="card-title"><%= software.name %></h5>
                    <p class="card-text"><%= truncate(software.description, length: 80, omission: '...') %></p>
                    <p class="card-text"><strong>Price:</strong> <%= software.price_month.presence || "Free" %></p>
                    <p class="card-text"><strong>Tag:</strong> <%= software.tag.presence || "No tag" %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-5">
    <h5 class="mb-3">Our app catalog</h5>
    <div class="row g-5">
      <% @softwares.each do |software| %>
        <div class="col-md-4">
          <%= link_to software_path(software), class: "text-decoration-none text-dark" do %>
            <div class="app-card mb-3" style="max-width: 540px; height: 230px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <% if software.logo.attached? %>
                    <%= cl_image_tag software.logo.key, class: "img-fluid rounded-start p-3" %>
                  <% else %>
                    <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-start p-3" %>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <div class="card-body m-3">
                    <h5 class="card-title"><%= software.name %></h5>
                    <p class="card-text"><%= truncate(software.description, length: 80, omission: '...') %></p>
                    <p class="card-text"><strong>Price:</strong> <%= software.price_month.presence || "Free" %></p>
                    <p class="card-text"><strong>Tag:</strong> <%= software.tag.presence || "No tag" %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
