
  <div class="header shadow-sm">
    <div class="d-flex justify-content-start">
      <div class="medium-logo-rounded ms-5 mt-3">
        <% if @software.logo.attached? %>
          <%= cl_image_tag @software.logo.key, class: "img-fluid rounded-start p-3" %>
        <% else %>
          <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-start p-3" %>
        <% end %>
      </div>
      <div class="m-5">
        <div class="d-flex align-items-center gap-2">
          <h5 class="m-0"><%= @software.name %></h5>
          <a href="<%= @software.website %>" target="_blank" title="Aller sur le site !">
            <i class="fa-solid fa-link me-2"></i>
          </a>
          <% if @software.average_rating.present? %>
            <div class="d-flex align-items-center">
              <span class="me-1"><%= @software.average_rating %></span>
              <i class="fa-solid fa-star text-warning"></i>
            </div>
          <% else %>
            <span class="me-1">No ratings</span>
          <% end %>
        </div>
        <div class="mt-3 mb-4">
          <p> <%= @software.description %> </p>
        </div>
        <div>
          <% if @software.category_tags.any? %>
            <div class="<%= @software.category_tags.first.color %> me-2 mb-2">
              <p class="px-3 py-1 m-0"> <%= @software.category_tags.first.name %> </p>
            </div>
          <% else %>
            <p>No category</p>
          <% end %>
        </div>
        <div class="d-flex align-content-center">
          <% if @software.team_tags.any? %>
            <% @software.team_tags.each do |tag| %>
              <% if tag.name.present? %>
                <div class="team-tag me-2">
                  <p class="px-3 py-1 m-0"> <%= tag.name %> </p>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <p>No tags</p>
          <% end %>
        </div>
      </div>
    <div class="d-flex flex-column align-items-end mt-4 me-4 ms-auto">
      <div class="" >
      <% if user_signed_in? %>
        <% if @existing_license.present? == false %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add to your stack
          </button>
        <% elsif @end_date_validity == false %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Renew your license
          </button>
        <% else %>
          <button type="button" class="btn btn-secondary disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">
           Already in your stack
          </button>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-secondary disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">
           Sign-in to enable
        </button>
      <% end %>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> ⚡Add <b><%= @software.name %></b> to your stack</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container mt-5">
                  <%= simple_form_for [@software, @license] do |f| %>
                    <div class="form-inputs">
                      <%= f.input :start_at, as: :string, input_html: { data: { controller: "datepicker" } } %>
                      <%= f.input :end_at, as: :string, input_html: { data: { controller: "datepicker" } } %>
                    </div>
                    <div class="form-actions text-center">
                      <%= f.button :submit, "Add license", class: "btn btn-success mt-4 mb-2" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="ms-2 mt-2 pe-2">
        <p><em><%= @software.price_month %>€ monthly</em></p>
      </div>
    </div>
    </div>
    <div class="ms-5 me-4">
      <p> <%= @software.long_description %></p>
    </div>
</div>

<div class="container w-75 my-5">
  <h4>Reviews</h4>
  <% if @reviews.any? %>
  <ul class="list-group list-group">
    <% @reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="">
          <%= image_tag("avatars/Kermit.JPG", width:"40", class: "rounded-circle") %>
        </div>
        <div class="ms-2 me-auto">
          <div class="fw-bold"> <%= review.user.username %> </div>
          <div class="text-break text-muted"><%= review.comment %></div>
        </div>
        <span class="badge bg-primary rounded-pill"><%= review.rating %>/5</span>
      </li>
    <% end %>
  </ul>
  <% else  %>
  <p class="text-muted">This product has not been reviewed yet</p>
  <% end  %>
</div>

<div class="container w-75">
  <h4>Servers localisation</h4>
  <div style="width: 100%; height: 500px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
