<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="mb-3 mt-5">Log in</h2>
      <div class="bg-light border rounded p-4 mb-5">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        placeholder: "john.doe@gmail.com" %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" },
                        placeholder: "************" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary mb-2" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
