<div class="container pt-5">
    <div class="row g-5">
      <div class="col-4 p-0">
        <%= link_to software_path(software), class: "text-decoration-none text-dark" do %>
          <div class="app-card mb-3" style="max-width: 540px; height: 260px;">
            <div class="row g-0">
              <div class="col-md-4">
                <% if software.logo.attached? %>
                  <%= cl_image_tag software.logo.key, class: "img-fluid rounded-start p-3" %>
                <% else %>
                  <%= image_tag "logos/default-logo.jpg", class: "img-fluid rounded-start p-3" %>
                <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body m-3">
                  <h5 class="card-title"><%= software.name %></h5>
                  <p class="card-text">
                    <%= truncate(software.description, length: 60, omission: '...') %>
                  </p>
                  <% if software.average_rating.present? %>
                    <p class="card-text">
                      <%= software.average_rating %>
                      <i class="fa-solid fa-star text-warning"></i>
                    </p>
                  <% else %>
                    <p class="card-text">No ratings</p>
                  <% end %>
                  <p class="card-text"><strong>Price:</strong> <%= number_to_currency(software.price_month, unit: "€") %></p>
                  <p class="card-text"><strong>Tag:</strong> <%= software.tag %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
